.logo{
    width: 200px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.h1{
    color: rgb(125, 60, 152);
    text-align: center;
}
.navbar ul{
  list-style-type: none;
  background-color: rgb(125, 60, 152);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a{
  color: white;
  text-decoration: none;
  padding: 25px;
  font-size: 20px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: white;
  color: rgb(125, 60, 152);
}
.navbar li{
  float: left;
}

.home{
        color: rgb(125, 60, 152);
        margin-top: 15px;
        margin-left: 800px;
        text-decoration: solid;
        margin-right: 30px;
        cursor: pointer;
        font-size: 20px;
        text-align: left;
    }
    .home:hover{
        text-decoration: underline;
    }
    .about{
        color: rgb(125, 60, 152);
        margin-top: 15px;
        text-decoration: solid;
        margin-right: 30px;
        cursor: pointer;
        font-size: 20px;
        text-align: left;
    }
    .about:hover{
        text-decoration: underline;
    }
    
    .sign_in{
        width: 100px;
        height: 50px;
        color: rgb(125, 60, 152);
        background-color: white;
        border-radius: 5px;
        border-color: rgb(125, 60, 152);
        border-style: solid;
        border-radius: 15px;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        transition: 1s;
        cursor: pointer;
        margin-bottom: 15px;
        margin-right: 15px;
        
    }
    .sign_in:hover{
        background-color: rgb(125, 60, 152);
        color: white;
        text-decoration: solid;
    }

    .sign_up{
        width: 100px;
        height: 50px;
        background-color: rgb(125, 60, 152);
        color: white;
        border-radius: 5px;
        border-color: rgb(125, 60, 152);
        border-style: solid;
        border-radius: 15px;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        transition: 1s;
        margin-bottom: 15px;
        cursor: pointer;
        
    }
    .sign_up:hover{
        color: rgb(125, 60, 152);
        background-color: white;
        text-decoration: solid;
    }